/*
Author: Vasco Sousa (1221700)
Last update: 22/12/2024
*/

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Poppins, sans-serif;
}

.profile-screen {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1100px;
  max-height: 900px;
  background-color: #ffffff;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  width: 100%;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.download-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.download-button:hover {
  background-color: #0056b3;
}

.profile-details {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile-details h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
}

.profile-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.profile-details ul {
  list-style-type: disc;
  padding-left: 20px;

  li {
    margin: 5px 0;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
}

.modal.show {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: none;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.code-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }

  input:last-child {
    margin-right: 0;
  }
}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;

  &:hover {
    background-color: #0056b3;
  }
}
