<div class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="onModalClick($event)">
    <div class="modal-header">
      <h2>Activate User</h2>
    </div>
    <form (ngSubmit)="onSubmit()" class="modal-form">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="username" required>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-submitUser">Submit</button>
      
    </form>
  </div>
</div>