<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="logo.png" class="logo" alt="Logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i [class]="menu_icon"></i>
                </div>
                <div class="desktop_menu" [ngClass]="{ 'mobile_menu': menuValue }">
                    <ul>
                        <li *ngFor="let item of menuItems" (click)="closeMenu()">
                            <a [routerLink]="'/' + item.toLowerCase()">{{ item }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>