<!--
Author: Vasco Sousa (1221700)
Last update: 11/11/2024
Description: This component displays the sidebar with navigation links for the hospital management app.
-->

<aside class="sidebar">
  <div class="sidebar-header">
    <img src="logo.png" alt="logo" />
    <h2>Hospital Management App</h2>
  </div>
  <ul class="sidebar-links">
    <h4>
      <span>Main Menu</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a [routerLink]="['/', panelId]"
        ><img src="dashboard.png" alt="icon" />User Panel</a
      >
    </li>
    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a routerLink="/notifications"
        ><img src="notifications.png" alt="icon" />Notifications</a
      >
    </li>
    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a [routerLink]="['/', profileId]">
        <img src="profile.png" alt="icon" />Profile</a
      >
    </li>
    <li>
      <a [routerLink]="['/', settingsId]"
        ><img src="settings.png" alt="icon" />Settings</a
      >
    </li>
    <li>
      <a [routerLink]="['/patient-policy']">
        <img src="insurance.png" alt="icon" class="colored-icon" />Privacy
        Policy
      </a>
    </li>
    <li>
      <a routerLink="/" (click)="logout()"
        ><img src="logout.png" alt="icon" />Logout</a
      >
    </li>
  </ul>
  <div class="user-account">
    <div class="user-profile">
      <img src="user.png" alt="Profile Image" />
      <div class="user-detail">
        <h3>{{ name }}</h3>
        <span>{{ role }}</span>
      </div>
    </div>
  </div>
</aside>
