<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="login__logo"></div>
                    <img src="path/to/your/logo.png" alt="Logo" />
                </div>
                <div class="login__field">
                    <input type="text" class="login__input" id="floatingEmail" placeholder="Email" required maxlength="50">
                </div>
                <div class="login__field">
                    <input type="password" class="login__input" id="floatingPassword" placeholder="Password" required maxlength="50">
                </div>
                <button class="button login__submit">
                    <span class="button__text">Login</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>				
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>		
    </div>
</div>