<!--
Author: João Pereira (1211503)
Last update: 11/11/2024
Description: This component allow admin to manage operation-types
-->
<div class="operationType-container">
  <app-sidebar></app-sidebar>

  <h2 class="operation-title">Operation Types</h2>

  <div>
    <a [routerLink]="['/create-operation-type']" class="btn btn-create">Create Operation Type</a>
    
    <table class="table">
      <thead>
        <tr>
          <th>Operation Type</th>
          <th>Estimated Time</th>
          <th>Specialization</th>
          <th>Staff Members</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let operationType of operationTypes">
          <ng-container *ngFor="let specialization of operationType.specializations; let i = index">
            <tr [ngClass]="{'deactivated': operationType.isDeactivated}">
              <!-- Operation Type Name and Estimated Duration row spans for the first specialization row -->
              <td *ngIf="i === 0" [attr.rowspan]="operationType.specializations.length">
                {{operationType.name}}
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="operationType.specializations.length">
                {{operationType.estimatedDuration}}
              </td>
              <td>{{specialization.specOption}}</td>
              <td>
                <button class="btn btn-info" (click)="loadStaffForSpecialization(operationType.name, specialization.specOption)">
                  Show Staff
                </button>
                <div *ngIf="isStaffVisible(operationType.name, specialization.specOption)" class="staff-members">
                  <div *ngFor="let staff of staffs[specialization.specOption]">
                    👤 {{staff.fullName}}
                  </div>
                </div>
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="operationType.specializations.length">
                <a [routerLink]="['/update-operation-type', operationType.name]" class="btn btn-update">Edit</a>
                <a *ngIf="!operationType.isDeactivated" href="javascript:void(0)" 
                   (click)="deactivateOperationType(operationType.name)" class="btn btn-delete">Deactivate</a>
                <a *ngIf="operationType.isDeactivated" href="javascript:void(0)" 
                   (click)="activateOperationType(operationType.name)" class="btn btn-activate">Activate</a>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    
    <a [routerLink]="['/navbar-admin']" class="btn btn-back">Back to Dashboard</a>
  </div>
</div>