<div class="manage-container">
  <app-sidebar></app-sidebar>
  <div class="screens-container">
    <div class="screen">
      <button routerLink="/create-operation-request" class="btn btn-create">
        Create Operation Request
      </button>
      <button (click)="toggleView()" class="btn btn-toggle">
        {{ currentView === 'Pending' ? 'Show Accepted Requests' : 'Show Pending Requests' }}
      </button>
      <h2 class="manage-title" style="text-align: center">Operation Request Manager</h2>
      <div class="content-container">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Operation Request</th>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Operation Type</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let operationRequest of operationRequests; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ operationRequest.patientName }}</td>
                <td>{{ operationRequest.doctorLicenseNumber }}</td>
                <td>{{ operationRequest.operationType }}</td>
                <td>{{ operationRequest.deadlineDate }}</td>
                <td>{{ operationRequest.priority }}</td>
                <td>
                  <ng-container *ngIf="currentView === 'Pending'; else scheduledActions">
                    <a
                      [routerLink]="['/update-operation-request', operationRequest.id]"
                      class="btn btn-update"
                    >Edit</a>
                    <a
                      href="javascript:void(0)"
                      (click)="deleteOperationRequest(operationRequest.id, operationRequest.doctorLicenseNumber)"
                      class="btn btn-delete"
                    >Delete</a>
                    <a
                      [routerLink]="['/create-appointment', operationRequest.id]"
                      class="btn btn-view"
                    >Create Appointment</a>
                  </ng-container>
                  <ng-template #scheduledActions>
                    <a
                      [routerLink]="['/view-appointment-details', operationRequest.id]"
                      class="btn btn-view"
                    >View Appointment Details</a>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
