.manage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 85px;
  font-family: Poppins, sans-serif;

  .screens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .screen {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1000px;
    height: 90vh;
    background-color: #f9f9f9;
    margin: 0 auto;
    border: 1px solid #f5f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    .btn-back {
      align-self: flex-end;
      margin-bottom: 20px;
      background-color: #dc3545;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #c82333;
      }
    }

    .manage-title {
      font-size: 40px;
      margin-bottom: 20px;
      color: #333;
    }

    .content-container {
      display: flex;
      gap: 10px;
      width: 100%;
      overflow: hidden;
    }

    .table-container {
      display: flex;
      gap: 20px;
      width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .table-wrapper {
        flex: 1;
        overflow: auto;

        .operation {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 10px;

          p {
            font-size: 1.1rem;
            text-align: center;
            font-weight: bold;
            margin: 0px;
            color: #333;
          }

          .btn {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &.btn-create {
              background-color: #28a745;
              color: #fff;

              &:hover {
                background-color: #218838;
              }
            }
          }
        }

        .table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;
          table-layout: fixed;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

          th,
          td {
            border: 1px solid #ddd;
            padding: 8px;
            word-wrap: break-word;
            vertical-align: middle;
            text-align: center;
          }

          th {
            background-color: #f2f2f2;
          }

          td {
            font-size: small;
          }
        }
      }
    }
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 12px;
      width: 80%;
      max-width: 500px;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s;

        &:hover {
          color: #c82333;
        }
      }
    }
  }
}