<div class="manage-container">
  <app-sidebar></app-sidebar>

  <div class="screens-container">
    <div class="screen">
      <button type="button" routerLink="/panel-admin" class="btn-back">Back to Dashboard</button>

      <h2 class="manage-title">Manage Allergies and Medical Conditions</h2>

      <div class="content-container">
        <div class="table-container">
          <div class="table-wrapper">
            <div class="operation">
              <button type="button" (click)="openModal('create-allergies')" class="btn btn-create">Create Allergy</button>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Allergies</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let allergy of allergies">
                  <td>{{ allergy.allergyName }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-wrapper">
            <div class="operation">
              <button type="button" (click)="openModal('create-conditions')" class="btn btn-create">Create Medical Condition</button>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Medical Conditions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medicalCondition of medicalConditions">
                  <td>{{ medicalCondition.medicalConditionName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="modalType" (click)="closeModalOnOutsideClick($event)">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <app-create-allergies *ngIf="modalType === 'create-allergies'" (allergyCreated)="handleAllergyCreated()"></app-create-allergies>
      <app-create-conditions *ngIf="modalType === 'create-conditions'" (conditionCreated)="handleConditionCreated()"></app-create-conditions>
    </div>
  </div>
</div>