<div class="update-container">
  <app-sidebar></app-sidebar>
  <div class="screens-container">
    <div class="screen">
      <button
        routerLink="/operation-requests"
        type="button"
        class="btn btn-back"
      >
        Go Back
      </button>
      <h2 class="update-title">
        Update OperationRequest
      </h2>
      <div class="content-container">
        <form class="update-form" (submit)="updateOperationRequest($event)">
          <select
            [(ngModel)]="existingOperationRequest.priority"
            name="priority"
            required
          >
            <option value="" disabled>Select Priority</option>
            <option value="ElectiveSurgery">Elective Surgery</option>
            <option value="UrgentSurgery">Urgent Surgery</option>
            <option value="EmergencySurgery">Emergency Surgery</option>
          </select>
          <input
            type="date"
            placeholder="Deadline Date"
            [(ngModel)]="existingOperationRequest.deadlineDate"
            name="deadlineDate"
            required
          />
          <button type="submit" class="btn btn-update">
            Update OperationRequest
          </button>
          <button type="button" class="btn btn-clear" (click)="clearForm()">
            Clear Form
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
