
 <!--<div class="update-container">
    <app-sidebar></app-sidebar>
    <div class="screens-container">
      <div class="screen">
        
       <button routerLink="/manage-operationRequests" type="button" class="btn btn-back">
          Go Back
        </button>
        <h2 class="update-title" style="text-align: center">Update OperationRequest</h2>
        <div class="content-container">
             <form class="update-form" (submit)="updateOperationRequest($event)">
            <input
              type="text"
              placeholder="Id"
              [(ngModel)]="existingOperationRequest.id"
              name="firstName"
              required
            />
            <input
              type="text"
              placeholder="Last Name"
              [(ngModel)]="existingPatient.lastName"
              name="lastName"
              required
            />
            <input
              type="text"
              placeholder="Full Name"
              [(ngModel)]="existingPatient.fullName"
              name="fullName"
              required
            />
            <input
              type="email"
              placeholder="Email"
              [(ngModel)]="existingPatient.email"
              name="email"
              required
            />
            <input
              type="text"
              placeholder="Phone Number"
              [(ngModel)]="existingPatient.phoneNumber"
              name="phoneNumber"
              required
            />
            <input
              type="text"
              placeholder="Emergency Contact"
              [(ngModel)]="existingPatient.emergencyContact"
              name="emergencyContact"
              required
            />
            <textarea
              placeholder="Medical Conditions"
              [(ngModel)]="existingPatient.medicalConditions"
              name="medicalConditions"
            ></textarea>
  
             Buttons 
            <button type="submit" class="btn btn-update">Update OperationRequest</button>
            <button type="button" class="btn btn-clear" (click)="clearForm()">
              Clear Form
            </button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  -->
  