<div class="dashboard-container">
  <app-sidebar></app-sidebar>
  <div class="dashboard-content">
      <div class="header">
          <h1>Admin Panel</h1>
      </div>
      <div class="stats">
          <button class="box box1" routerLink="/operation-types" routerLinkActive="active">
              Manage Operation Types
          </button>
          <button class="box box2" routerLink="/manage-patients" routerLinkActive="active">
              Manage Patients
          </button>
          <button class="box box3">
              <!-- Content for box 3 -->
          </button>
          <button class="box box4">
              <!-- Content for box 4 -->
          </button>
      </div>
  </div>
</div>
