/*
  Author: Vasco Sousa (1221700)
  Last update: 06/11/2024
  Description: This file contains the styling for the main application component
*/

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.main-content-with-sidebar {
  margin-left: 85px;
  width: calc(100% - 85px);
  transition: margin-left 0.4s ease, width 0.4s ease;
  height: 100vh;
  overflow: hidden;
}

.main-content-with-sidebar ~ .sidebar {
  transition: all 0.4s ease;
}

.main-content {
  width: 100%;
  height: 100%;
}
