<main class="main">
    <app-header></app-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div class="footer-container text-center">
            <p>&copy; 2024 Hospital Management App. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</main>