<app-sidebar></app-sidebar>
<div class="view-availability-staff-container">
  <div class="view-availability-staff-middle">
    <div class="top">
      <button type="button" class="back-button" routerLink="/search-staffs"> Go Back</button>
      <h2>Availability for Staff</h2>
      <h3>{{ staffName }}</h3>
    </div>

    <div class="page-body">
      <div class="calendar-navigation">
        <button type="button" (click)="previousWeek()">Previous Week</button>
        <button type="button" (click)="nextWeek()">Next Week</button>
      </div>

      <div class="calendar-container">
        <mwl-calendar-week-view
          [viewDate]="viewDate"
          [events]="events"
          [hourSegments]="1"
          [dayStartHour]="0"
          [dayEndHour]="24">
        </mwl-calendar-week-view>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="calendar-navigation">
        <button type="button" (click)="openAvailabilityModal('add')">Add Availability Slots</button>
        <button type="button" (click)="openAvailabilityModal('remove')">Remove Availability Slots</button>
      </div>

    </div>
    <app-availability-modal *ngIf="showAvailabilityModal" (availabilitySelected)="onAvailabilitySelected($event)" (closeModal)="closeAvailabilityModal()"></app-availability-modal>
  </div>
</div>