<!--
Author: Vasco Sousa (1221700)
Last update: 07/11/2024
Description: This component displays the registration form for new users.
-->

<div class="register-container">
    <a routerLink="/" class="btn btn-home">
        <img src="home.png" alt="Home">
    </a>
    <div class="register-left">
        <div class="top">
            <img src="logo.png" alt="Hospital Management App Logo" />
            <h2>Hospital Management App</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="example@email.com" required>

            <label for="identifier">Phone Number</label>
            <div class="identifier-container">
                <input type="text" id="identifier" formControlName="identifier" placeholder="+1"
                    class="identifier-input" required>
                <input type="tel" id="phone" formControlName="phoneNumber" placeholder="123456789" required>
            </div>

            <div class="input-container">
                <label for="password">Password</label>
                <input [type]="passwordFieldType" id="password" formControlName="password" placeholder="******"
                    required>
                <img [src]="passwordFieldType === 'password' ? 'eye.png' : 'eye-slash.png'" alt="Show/Hide Password"
                    (click)="togglePasswordVisibility('password')" class="eye-icon">
            </div>

            <div class="input-container">
                <label for="confirm-password">Confirm Password</label>
                <input [type]="confirmPasswordFieldType" id="confirm-password" formControlName="confirmPassword"
                    placeholder="******" required>
                <img [src]="confirmPasswordFieldType === 'password' ? 'eye.png' : 'eye-slash.png'"
                    alt="Show/Hide Password" (click)="togglePasswordVisibility('confirm-password')" class="eye-icon">
            </div>

            <div class="input-container">
                <input type="checkbox" id="acceptPolicy" formControlName="acceptPolicy" required>
                <label for="acceptPolicy">
                    I accept the
                    <a class="privacy-policy-link" (click)="openPrivacyPolicy($event)">Privacy Policy</a>
                </label>
            </div>

            <button type="submit" class="btn btn-register" [disabled]="!registerForm.valid">Register</button>
        </form>

        <p>Already have an account? <a routerLink="/login">Login Now</a></p>
    </div>

    <div class="register-right">
        <div class="register-info">
            <h3>Why should I register?</h3>
            <p>
                By registering, you can access your personal dashboard, where you can manage your account, view your
                profile, and much more.
            </p>
            <img src="healthcare-dashboard.png" alt="Dashboard example">
        </div>
    </div>
</div>

<!-- Privacy Policy Modal -->
<div class="modal-container" [class.active]="isModalVisible">
  <div class="modal-content">
      <h1 class="modal-title">Privacy Policy</h1>
      <p class="modal-date">Last updated: 4 de Janeiro de 2025</p>

      <section class="modal-section">
          <h2 class="modal-subtitle">Introdução</h2>
          <p class="modal-text">
              A sua privacidade é essencial para o Hospital Management App. Esta política, em
              conformidade com o Regulamento Geral sobre a Proteção de Dados (RGPD), descreve
              como recolhemos, utilizamos, partilhamos e protegemos os seus dados pessoais ao
              utilizar a nossa aplicação. O RGPD assegura a proteção dos seus dados enquanto um
              direito fundamental.
          </p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Que Dados Pessoais Recolhemos?</h2>
          <ul class="modal-list">
              <li>Dados de Identificação: Nome, data de nascimento, número de identificação e género.</li>
              <li>Contactos: Morada, email, número de telefone e contacto de emergência</li>
              <li>Dados de Saúde: Informação médica, histórico clínico e resultados de exames.</li>
              <li>Informação de Utilização: Como utiliza a aplicação, as suas preferências e definições.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Finalidades do Tratamento dos Dados</h2>
          <ul class="modal-list">
              <li>Gerir as suas consultas e marcações.</li>
              <li>Fornecer-lhe os cuidados de saúde adequados.</li>
              <li>Melhorar a qualidade dos nossos serviços.</li>
              <li>Comunicar consigo sobre as suas consultas.</li>
              <li>Cumprir com as obrigações legais.</li>
              <li>Arquivo de interesse público, investigação científica ou histórica, ou fins estatísticos, assegurando a proteção dos seus direitos.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Tempos de Retenção de Dados</h2>
          <p class="modal-text">Os tempos de retenção foram definidos considerando a finalidade do tratamento, a base legal, as obrigações legais e as boas práticas de segurança:</p>
          <h3 class="modal-subtitle">1. Dados de Contacto</h3>
          <ul class="modal-list">
              <li>Inclui: Nome, morada, email, número de telefone e contacto de emergência.</li>
              <li>Tempo de retenção: Durante o período em que o paciente for utilizador ativo da aplicação. Eliminados 6 meses após a última interação do paciente com a aplicação.</li>
              <li>Justificativa: Essenciais para a gestão de consultas e comunicação com o paciente, com retenção adicional de 6 meses para eventuais questões legais ou administrativas.</li>
          </ul>
          <h3 class="modal-subtitle">2. Dados de Saúde</h3>
          <ul class="modal-list">
              <li>Inclui: Informação médica, histórico clínico e resultados de exames.</li>
              <li>Tempo de retenção: 20 anos após a última consulta, conforme legislação portuguesa para prontuários médicos.</li>
              <li>Justificativa: Obrigação legal de retenção por 20 anos para assegurar o cumprimento da legislação e permitir acesso a informações médicas em caso de necessidade.</li>
          </ul>
          <h3 class="modal-subtitle">3. Informação de Utilização</h3>
          <ul class="modal-list">
              <li>Inclui: Como utiliza a aplicação, preferências e definições.</li>
              <li>Tempo de retenção: 1 ano após a última interação do paciente com a aplicação.</li>
              <li>Justificativa: Necessária para melhorar os serviços da aplicação, permitindo análise de tendências e implementação de melhorias.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Procedimentos Após o Fim do Período de Retenção</h2>
          <p class="modal-text">Após o período de retenção definido:</p>
          <ul class="modal-list">
              <li>Os dados serão eliminados de forma segura e irreversível, garantindo que não possam ser recuperados.</li>
              <li>Dados necessários para fins legais ou contratuais poderão ser anonimizados e retidos por tempo indeterminado, utilizados exclusivamente para investigação e estatística.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Com Quem Partilhamos os seus Dados?</h2>
          <ul class="modal-list">
              <li>Profissionais de Saúde: Para fornecer os cuidados de saúde necessários, apenas na medida estritamente indispensável.</li>
              <li>Autoridades de Controlo: Quando exigido por lei, mediante pedido formal, justificado e ocasional.</li>
              <li>Prestadores de Serviços: Empresas que auxiliam na operação da aplicação, sob contrato que garante proteção de dados adequada.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Como Protegemos os seus Dados?</h2>
          <ul class="modal-list">
              <li>Encriptação: Todos os dados são encriptados para impedir acessos não autorizados.</li>
              <li>Pseudonimização: Sempre que possível, protegemos a sua identidade através de pseudonimização.</li>
              <li>Controlo de Acesso: Apenas utilizadores autorizados, mediante autenticação segura, têm acesso aos seus dados.</li>
              <li>Medidas Técnicas e Organizativas: Implementamos soluções adequadas ao risco, considerando o estado da arte tecnológica.</li>
          </ul>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Os seus Direitos</h2>
          <p class="modal-text">De acordo com o RGPD, tem os seguintes direitos:</p>
          <ul class="modal-list">
              <li>Acesso aos seus dados: Solicitar uma cópia dos seus dados pessoais num formato legível.</li>
              <li>Retificação: Corrigir dados incorretos ou incompletos.</li>
              <li>Apagamento ("direito a ser esquecido"): Solicitar a eliminação dos seus dados em condições específicas.</li>
              <li>Limitação do Tratamento: Restringir o uso dos seus dados em determinadas situações.</li>
              <li>Oposição ao Tratamento: Recusar o tratamento baseado em interesses legítimos ou marketing direto.</li>
              <li>Portabilidade dos Dados: Receber os seus dados num formato estruturado para transferir para outro serviço.</li>
          </ul>
          <p class="modal-text">Pode exercer os seus direitos através de um pedido dirigido ao Hospital Management App, pelos seguintes meios:</p>
          <ul class="modal-list">
              <li>Por correio postal para o endereço: R. Dr. António Bernardino de Almeida 431, 4249-015 Porto.</li>
              <li>Por email para o endereço: privacy&#64;hospital.management.app.com.</li>
              <li>Através da aplicação, utilizando as funcionalidades específicas disponíveis para o efeito.</li>
          </ul>
          <p class="modal-text">Ao exercer estes direitos, o utilizador deve especificar a natureza da sua solicitação e identificar-se devidamente. Após a confirmação da identidade do utilizador, para garantir que o pedido não é realizado por terceiros não autorizados, a solicitação será tratada em total conformidade com os requisitos e prazos legais aplicáveis.</p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Consentimento</h2>
          <p class="modal-text">Solicitamos o seu consentimento claro e direto para tratar dados, especialmente categorias sensíveis, explicando claramente as finalidades. Pode retirar o seu consentimento a qualquer momento através das funcionalidades da aplicação ou pelos contactos disponibilizados.</p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Transferência de Dados Pessoais</h2>
          <p class="modal-text">Em nenhum caso, o Hospital Management App transferirá os dados pessoais fornecidos através deste website a terceiros sem o consentimento prévio do utilizador, exceto se tal for uma obrigação legal ou se for identificado um interesse legítimo, desde que sejam garantidas as salvaguardas apropriadas.</p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Autoridade de Supervisão</h2>
          <p class="modal-text">De acordo com a lei, o titular dos dados tem o direito de apresentar uma reclamação relativa à proteção de dados pessoais junto da autoridade de supervisão competente.</p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Contactos</h2>
          <p class="modal-text">Se tiver dúvidas sobre esta política de privacidade, contacte o nosso Encarregado de Proteção de Dados através do email: paulo&#64;hospital.management.app.com.</p>
      </section>

      <section class="modal-section">
          <h2 class="modal-subtitle">Atualizações</h2>
          <p class="modal-text">Esta política de privacidade pode ser alterada. Informaremos com pelo menos 30 dias de antecedência sobre mudanças significativas, e a versão atualizada estará sempre disponível na nossa aplicação.</p>
      </section>
      <button class="modal-close-btn" (click)="closeModal()">Close</button>
  </div>
</div>
