<!--
Author: Vasco Sousa (1221700)
Last update: 07/11/2024
Description: This component displays the registration form for new users.
-->

<div class="register-container">
    <a href="/" class="btn btn-home">
        <img src="home.png" alt="Home">
    </a>
    <div class="register-left">
        <div class="top">
            <img src="logo.png" alt="logo" />
            <h2>Hospital Management App</h2>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="example@email.com" required>
            <label for="identifier">Phone Number</label>
            <div class="identifier-container">
                <input type="text" id="identifier" formControlName="identifier" placeholder="+1"
                    class="identifier-input" required>
                <input type="tel" id="phone" formControlName="phoneNumber" placeholder="123456789" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input [type]="passwordFieldType" id="password" formControlName="password" placeholder="******"
                    required>
                <img [src]="passwordFieldType === 'password' ? 'eye.png' : 'eye-slash.png'"
                    alt="Show/Hide Password" (click)="togglePasswordVisibility('password')" class="eye-icon">
            </div>
            <div class="input-container">
                <label for="confirm-password">Confirm Password</label>
                <input [type]="confirmPasswordFieldType" id="confirm-password" formControlName="confirmPassword"
                    placeholder="******" required>
                <img [src]="confirmPasswordFieldType === 'password' ? 'eye.png' : 'eye-slash.png'"
                    alt="Show/Hide Password" (click)="togglePasswordVisibility('confirm-password')" class="eye-icon">
            </div>
            <button type="submit" class="btn btn-register">Register</button>
        </form>
        <p>Already have an account? <a class="button" routerLink="/login">Login Now</a></p>
    </div>
    <div class="register-right">
        <div class="register-info">
            <h3>Why should I register?</h3>
            <p>By registering, you can access your personal dashboard, where you can manage your account, view your
                profile, and much more.</p>
            <img src="healthcare-dashboard.png" alt="Dashboard example">
        </div>
    </div>
</div>
