<div class="update-container">
  <app-sidebar></app-sidebar>
  <div class="screens-container">
    <div class="screen">
      <button routerLink="/manage-patients" type="button" class="btn btn-back">
        Go Back
      </button>
      <h2 class="update-title" style="text-align: center">Update Patient</h2>
      <div class="content-container">
        <form class="update-form" (submit)="updatePatientDetails($event)">
          <input
            type="text"
            placeholder="First Name"
            [(ngModel)]="existingPatient.firstName"
            name="firstName"
            required
          />
          <input
            type="text"
            placeholder="Last Name"
            [(ngModel)]="existingPatient.lastName"
            name="lastName"
            required
          />
          <input
            type="text"
            placeholder="Full Name"
            [(ngModel)]="existingPatient.fullName"
            name="fullName"
            required
          />
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="existingPatient.email"
            name="email"
            required
          />
          <input
            type="text"
            placeholder="Phone Number"
            [(ngModel)]="existingPatient.phoneNumber"
            name="phoneNumber"
            required
          />
          <input
            type="text"
            placeholder="Emergency Contact"
            [(ngModel)]="existingPatient.emergencyContact"
            name="emergencyContact"
            required
          />
          <!-- Buttons -->
          <button type="submit" class="btn btn-update">Update Patient</button>
          <button type="button" class="btn btn-clear" (click)="clearForm()">
            Clear Form
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
