<!--
Author: João Pereira (1211503)
Last update: 11/11/2024
Description: This component allow admin to create operation-types
-->

<div class="operationType-container">
    <app-sidebar></app-sidebar>
    <h2 class="operation-title">Create Operation Type</h2>
    <div class="form-and-table-container">
        <div class="form-container">
            <form (ngSubmit)="onSubmit()" #operationForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="operationType.name" required>
                </div>
                <div class="form-group">
                    <label for="estimatedTime">Estimated Time</label>
                    <input type="text" class="form-control" id="estimatedTime" name="estimatedTime" [(ngModel)]="operationType.estimatedDuration" required>
                </div>
                <div class="form-group">
                    <label for="specializations">Available Specializations</label>
                    <div class="checkboxes-container">
                        <div *ngFor="let specialization of availableSpecializations" class="checkbox-group">
                            <input type="checkbox" 
                                id="specialization-{{specialization.id}}" 
                                [checked]="operationType.specializations.includes(specialization.specOption)"
                                (change)="onSpecializationChange(specialization, $event)">
                            <label for="specialization-{{specialization.id}}">{{specialization.specOption}}</label>
                        </div>
                    </div>
                    <!-- Message when no specialization is selected -->
                    <div *ngIf="operationType.specializations.length === 0" class="error-message">
                        <p class="text-danger">You must add at least one specialization to the operation type.</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-create" [disabled]="!operationForm.valid || operationType.specializations.length === 0">Create</button>
                <a [routerLink]="['/operation-types']" class="btn btn-back">Back</a>
            </form>
        </div>
    </div>
</div>
