<div class="manage-container">
    <app-sidebar></app-sidebar>

    <div class="screens-container">

      <div class="screen">
  
        <button type="button" routerLink="/panel-admin" class="btn-back">  Back to DashBoard </button>

        
        <h2 class="manage-title">Search Staff Profiles</h2>
        
        <div class="content-container">

          <div class="filter-container">

            <form class="filter-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
              
              <p> Filter Fields</p>

              <input type="text" name="firstName" placeholder="First Name" formControlName="firstName"/>
              
              <input type="text" name="lastName" placeholder="Last Name" formControlName="lastName"/>
              
              <input type="text" name="fullName" placeholder="Full Name" formControlName="fullName"/>
              
              <input type="email" name="email" placeholder="Email"  formControlName="email"/>
              
              <select name="specialization" formControlName="specializationName" title="Specialization">
                <option value="" hidden>Select Specialization</option>
                <option *ngFor="let specialization of specializations" [value]="specialization.specOption">
                  {{ specialization.specOption }}
                </option>
              </select>
              
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>

              <div *ngIf="infoMessage" class="info-message">
                {{ infoMessage }}
              </div>

              <button type="submit" class="btn btn-filter" >Search</button>
              <button type="reset" class="btn btn-clear" (click)="clearFilters()"> Clear Filters </button>
      
            </form>
            
            <div class="operation">
              <p> Others operations</p>
              <button type="button" routerLink="/create-staff" class="btn btn-create">  Create Staff </button>
            </div>
          </div>

          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let profile of staffProfiles">
                  <td>{{ profile.fullName }}</td>
                  <td>{{ profile.email }}</td>
                  <td>

                    <button type="button" routerLink="/update-staff/{{profile.id}}" class="btn btn-update">Edit</button>

                    <button *ngIf="!profile.isActive" type="button" (click)="openModal(profile)"class="btn btn-activate">Activate</button>
                    <button *ngIf="profile.isActive" type="button" (click)="deactivateStaff(profile.id)" class="btn btn-delete">Deactive</button>
                    
                    <button type="button" (click)="viewStaffDetails(profile)" class="btn btn-view">View</button>
                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div *ngIf="selectedStaff" class="details-screen">
        <div class="staff-details">
          <h3>Staff Details</h3>
          <button type="button" (click)="clearSelectedStaff()">
            <img src="fechar.png" alt="Close" />
          </button>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>License Number</th>
                <td>{{ selectedStaff.licenseNumber }}</td>
              </tr>
              <tr>
                <th>First Name</th>
                <td>{{ selectedStaff.firstName }}</td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td>{{ selectedStaff.lastName }}</td>
              </tr>
              <tr>
                <th>Full Name</th>
                <td>{{ selectedStaff.fullName }}</td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>{{ selectedStaff.phoneNumber}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ selectedStaff.email }}</td>
              </tr>
              <tr>
                <th>Specialization</th>
                <td>{{ selectedStaff.specializationName }}</td>
              </tr>
              <tr>
                <th>Staff Type</th>
                <td>{{ selectedStaff.staffType }}</td>
              </tr>
              <tr>
                <th>Is Active</th>
                <td>{{ selectedStaff.isActive ? "Yes" : "No" }}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" routerLink="/view-availability/{{selectedStaff.id}}" class="btn btn-view">View Availability</button>
        </div>
      </div>
      
    </div>
    <app-active-modal *ngIf="isModalOpen" [profile]="modalProfile" (close)="closeModal($event)"></app-active-modal>
  </div>