<app-sidebar></app-sidebar>
<div class="create-staff-container">
    <div class="create-staff-middle">
        <div class="top">
            <h2>Search Staff Profiles</h2>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" placeholder="First Name">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" >

            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="example@email.com" >

            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" formControlName="fullName" placeholder="Full Name" >

            <label for="specializationName">Specialization Name</label>
            <select id="specializationName" formControlName="specializationName" >
                <option value="" hidden>Select Specialization</option>
                <option *ngFor="let specialization of specializations" [value]="specialization.specOption">
                    {{ specialization.specOption }}
                </option>
            </select>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <button type="submit">Search</button>
        </form>

        <div class="results">
            <h2>Results</h2>
            <div *ngIf="staffProfiles.length > 0" class="profiles-container">
                <div *ngFor="let profile of staffProfiles" class="profile-card">
                    <h3>{{ profile.fullName }}</h3>
                    <p><strong>First Name:</strong> {{ profile.firstName }}</p>
                    <p><strong>Last Name:</strong> {{ profile.lastName }}</p>
                    <p><strong>Email:</strong> {{ profile.email }}</p>
                    <p><strong>Specialization:</strong> {{ profile.specializationName }}</p>
                    <div class="actions">
                        <button class="edit-button">Edit</button>
                        <button class="delete-button">Deactivate</button>
                    </div>
                </div>
            </div>
            <p *ngIf="staffProfiles.length === 0">No staff profiles found with the given criteria.</p>
        </div>
    </div>
</div>