<div class="panel-container">
  <app-sidebar></app-sidebar>
  <div class="panel-content">
    <div class="header">
      <h1>Doctor Panel</h1>
    </div>
    <div class="stats">
      <button
        class="box box1"
        routerLink="/medical-history-manager"
        routerLinkActive="active"
      >
        Manage Medical Histories
      </button>
      <button
        class="box box2"
        routerLink="/patient-manager"
        routerLinkActive="active"
      >
        Manage Patients
      </button>
      <button
        class="box box3"
        routerLink="/appointment-manager"
        routerLinkActive="active"
      >
        Manage Appointments
      </button>
      <button
        class="box box4"
        routerLink="/operation-requests"
        routerLinkActive="active"
      >
        Manage Operation Requests
      </button>
    </div>
  </div>
</div>
