<div class="panel-container">
  <app-sidebar></app-sidebar>
  <div class="panel-content">
    <div class="header">
      <h1>Doctor Panel</h1>
    </div>
    <div class="stats">
      <button class="box box1" routerLink="/medical-history-manager" routerLinkActive="active">
        Manage Medical Histories
      </button>
      <div class="box box2">
        <!-- Content for box 2 -->
      </div>
      <div class="box box3">
        <!-- Content for box 3 -->
      </div>
      <div class="box box4">
        <!-- Content for box 4 -->
      </div>
    </div>
  </div>
</div>