<div class="login-container">
    <a href="/" class="btn btn-home">
        <img src="home.png" alt="Home">
    </a>
    <div class="login-left">
        <div class="top">
            <img src="logo.png" alt="logo" />
            <h2>Hospital Management App</h2>
        </div>
        <form>
            <a href="" class="btn btn-google">
                <img src="google.png" alt="Google logo"> Sign in with Google
            </a>
            <option>⎯⎯⎯⎯⎯ Or Login with your email ⎯⎯⎯⎯⎯</option>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="example@email.com">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="******">
            <a type="submit" class="btn btn-signin">Sign In</a>
        </form>
        <p>Don't have an account? <a class="button" href="register">Sign Up Now</a></p>
    </div>
    <div class="login-right">
        <div class="login-info">
            <h3>Why should I login?</h3>
            <p>By logging in, you can access your personal dashboard, where you can manage your account, view your
                profile, and much more.</p>
            <img src="healthcare-dashboard.png" alt="Dashboard example">
        </div>
    </div>
</div>