<!--
Author: João Pereira (1211503)
Last update: 09/11/2024
Description: This component allows backoffice users to log in to the system
-->

<div class="login-container">
  <a routerLink="/" class="btn btn-home">
    <img src="home.png" alt="Home">
  </a>
  <div class="login-left">
    <div class="top">
      <img src="logo.png" alt="logo" />
      <h2>Hospital Management App</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <a routerLink="/" class="btn btn-google">
        <img src="google.png" alt="Google logo"> Sign in with Google
      </a>
      <option>⎯⎯⎯ Or Login with your email ⎯⎯⎯</option>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="example@email.com" required>
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error-message">
        <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</p>
        <p *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</p>
      </div>
      <label for="password">Password</label>
      <div class="input-container">
        <input [type]="passwordFieldType" id="password" formControlName="password" placeholder="******" required>
        <img [src]="passwordFieldType === 'password' ? 'eye.png' : 'eye-slash.png'" alt="Show/Hide Password"
          (click)="togglePasswordVisibility()" class="eye-icon">
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
      </div>
      <div *ngIf="loginError" class="error-message">
        <p>{{ loginError }}</p>
      </div>
      <button type="submit" class="btn btn-signin">Login</button>
    </form>
    <p>Don't have an account? <a class="button" routerLink="/register">Sign Up Now</a></p>
  </div>
  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile,
        and much more.</p>
      <img src="healthcare-dashboard.png" alt="Dashboard example">
    </div>
  </div>
</div>
