<div class="activate-user-container">
  <div class="activate-user-middle">
    <div class="top">
      <h2>Activate User</h2>
    </div>
    <form (ngSubmit)="activateUser()" class="info-container" *ngIf="!activationSuccessful">
      
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" [ngClass]="{'error': newPasswordError}" placeholder="Enter new password" required>
  
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" [ngClass]="{'error': confirmPasswordError}" placeholder="Confirm password" required>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    
      <button type="submit" class="btn btn-submit">Activate</button>
    </form>
    
    <div *ngIf="activationSuccessful" class="success-message">
      <img src="success.jpg" alt="Success" />
      <p>User activated successfully!</p>
      <button type="button" class="btn btn-home" (click)="goToHome()">Go to Home</button>
    </div>
  </div>
</div>