<!--
Author: Vasco Sousa (1221700)
Last update: 11/12/2024
Description: This component allow admins to manage medical history
-->


<div class="manage-container">
  <app-sidebar></app-sidebar>
  <div class="screens-container">
    <div class="screen">
      <h2 class="manage-title" style="text-align: center">Patients Manager</h2>
      <div class="content-container">
        <form class="filter-form" (submit)="applyFilters($event)">
          <input
            type="text"
            placeholder="First Name"
            [(ngModel)]="filters.firstName"
            name="firstName"
          />
          <input
            type="text"
            placeholder="Last Name"
            [(ngModel)]="filters.lastName"
            name="lastName"
          />
          <input
            type="text"
            placeholder="Full Name"
            [(ngModel)]="filters.fullName"
            name="fullName"
          />
          <input
            type="date"
            placeholder="Date of Birth"
            [(ngModel)]="filters.dateOfBirth"
            name="dateOfBirth"
            pattern="\d{4}-\d{2}-\d{2}"
          />
          <input
            type="text"
            placeholder="Medical Record Number"
            [(ngModel)]="filters.medicalRecordNumber"
            name="medicalRecordNumber"
          />
          <select [(ngModel)]="filters.gender" name="gender">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="filters.email"
            name="email"
          />
          <input
            type="text"
            placeholder="Phone Number"
            [(ngModel)]="filters.phoneNumber"
            name="phoneNumber"
          />

          <!-- Buttons -->
          <button type="submit" class="btn btn-filter">Apply Filters</button>
          <button type="button" class="btn btn-clear" (click)="clearFilters()">
            Clear Filters
          </button>
        </form>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Medical Record Number</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients">
                <td>{{ patient.medicalRecordNumber }}</td>
                <td>{{ patient.fullName }}</td>
                <td>
                  <a
                    [routerLink]="[
                      '/update-medical-history',
                      patient.medicalRecordNumber
                    ]"
                    class="btn btn-update"
                    >Edit</a
                  >
                  <a
                    href="javascript:void(0)"
                    (click)="viewPatientDetails(patient.medicalRecordNumber)"
                    class="btn btn-view"
                    >View</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="selectedPatient" class="details-screen">
      <div class="patient-details">
        <h3>Patient Details</h3>
        <button
          class="btn btn-close"
          (click)="
            selectedPatient = undefined;
            selectedAllergies = [];
            selectedMedicalConditions = [];
            selectedMedicalHistory = undefined
          "
        ></button>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Medical Record Number</th>
              <td>{{ selectedPatient.medicalRecordNumber }}</td>
            </tr>
            <tr>
              <th>First Name</th>
              <td>{{ selectedPatient.firstName }}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{ selectedPatient.lastName }}</td>
            </tr>
            <tr>
              <th>Full Name</th>
              <td>{{ selectedPatient.fullName }}</td>
            </tr>
            <tr>
              <th>Date of Birth</th>
              <td>{{ selectedPatient.dateOfBirth }}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{ selectedPatient.gender === 1 ? "Male" : "Female" }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ selectedPatient.email }}</td>
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>{{ selectedPatient.phoneNumber }}</td>
            </tr>
            <tr>
              <th>Emergency Contact</th>
              <td>{{ selectedPatient.emergencyContact }}</td>
            </tr>
            <tr>
              <th>Appointment History</th>
              <td>
                {{
                  selectedPatient.appointmentHistory &&
                  selectedPatient.appointmentHistory.length > 0
                    ? selectedPatient.appointmentHistory
                    : "No appointments scheduled"
                }}
              </td>
            </tr>
            <tr>
              <th>Is Active</th>
              <td>{{ selectedPatient.isActive ? "Yes" : "No" }}</td>
            </tr>
            <tr>
              <th>Medical History</th>
              <td>
                <button
                  class="btn btn-view"
                  (click)="openMedicalHistoryModal()"
                >
                  View Medical History
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Medical History Modal -->
  <div *ngIf="isMedicalHistoryModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeMedicalHistoryModal()">&times;</span>
      <h3>Medical History</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Free Text</th>
            <td>{{ selectedMedicalHistory?.freeText }}</td>
          </tr>
                  <tr>
            <th>Family History</th>
            <td>
              <ul>
                <li *ngFor="let history of selectedMedicalHistory?.familyHistory">
                  {{ history }}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Allergies</th>
            <td>
              <ul class="allergies-list">
                <li *ngFor="let allergy of selectedAllergies">
                  {{ allergy.allergyName }}
                </li>
                <li *ngIf="selectedAllergies.length === 0">No allergies</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Medical Conditions</th>
            <td>
              <ul class="conditions-list">
                <li *ngFor="let condition of selectedMedicalConditions">
                  {{ condition.medicalConditionName }}
                </li>
                <li *ngIf="selectedMedicalConditions.length === 0">
                  No medical conditions
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
